.header {
    margin-top: 180px;
    padding-left: 130px;
    padding-right: 700px;
    padding-bottom: 13px;
    position: fixed;
    padding-top: 50px;
    top: 20px
}

body {
    font-family: Futura;
    color: #E4DBD4;
    background-color: rgb(33, 39, 43);
}

.container {
    padding-top: 30px;
    padding-left: 90px;
    margin-bottom: 400px
}

#poetry {
    padding-left: 200px;
    padding-top: 263px;
}

.footer {
    display: block;
    padding-left: 130px;
    position: fixed;
    bottom: 30px;
}

/* unvisited link */
a:link {
    color: #C56B24;
}

/* visited link */
a:visited {
    color: #B7977E;
}
